<html><head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="Shortcut Icon" type="image/ico" href="http://sendy.meshify.com/sendy/img/favicon.png">
		<title>Subscribed</title>
	<style type="text/css">
		body{
			background: #ffffff;
			font-family: Helvetica, Arial;
		}
		#wrapper 
		{
			background: #f2f2f2;
			
			width: 300px;
			height: 70px;
			
			margin: -140px 0 0 -150px;
			position: absolute;
			top: 50%;
			left: 50%;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			border-radius: 5px;
		}
		p{
			text-align: center;
		}
		h2{
			font-weight: normal;
			text-align: center;
		}
		a{
			color: #000;
		}
		a:hover{
			text-decoration: none;
		}
	</style></head>
	
	<body>
		<div id="wrapper">
			<h2>You're subscribed! a</h2>
			<a type="button" link="http://getfirepit.com/">Go Back</a>
		</div>
	

<script type="text/javascript">( function(){ window.SIG_EXT = {}; } )()</script></body></html>